/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/wordlist/styles.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.styles_wrapper__AXbch{

    background:radial-gradient(circle at 100% 0%, #ff84ed 0, #e56fe5 25%, #be55d8 50%, #933ecc 75%, #6731c4 100%);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



.styles_container__NU9ZU{
    background-color: whitesmoke;
    width: 30%;
    height: 70%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
}

@media (max-width: 1365px) {
    .styles_container__NU9ZU{
        height: 80%;
        width: 90%;
    }
}


.styles_title__YIbjP{
    position: absolute;
    top: 25px;
    left: 25px;
    font-size: 25px;
    font-weight: 500;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/components/WordCards/styles.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************/
.styles_wrapper__ORUw5{
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    
}

.styles_wordCard__n_xUa{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.styles_word___Ev2N{
    font-size: 45px;
    font-weight: 700;
}

.styles_navButton__P63GJ{
    width: 150px;
    height: 35px;
    cursor: pointer;
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/components/WordQuiz/styles.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.styles_wrapper__wQE3h {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

.styles_answerOptions__tPk_M {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.styles_word__UQD8G {
    height: 35px;
    width: 150px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.styles_rightAnswer__gqz5V {
    background-color: green;
    color: white;
}

.styles_wrongAnswer__DwA7q {
    background-color: brown;
    color: white;
}

.styles_disabledOptions__8cE_I {
    pointer-events: none;
    opacity: 0.5;
}

.styles_navButton__e_qgz {
    width: 150px;
    height: 35px;
    cursor: pointer;
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/components/WordPuzzle/styles.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.styles_wrapper__Zx4Po{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    width: 90%;
}

.styles_printWord__9gvRn{
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 15px;
}

.styles_backSpaceIcon__q5irI{
    cursor: pointer;
}

.styles_letterContainer__WRZL_{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
}

.styles_letter__oZt_f{
    text-transform: uppercase;
    padding: 10px;
    cursor: pointer;
}

.styles_checkContainer__ljdUr{
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 10px;
}

.styles_checkButton__zAEMW{
    cursor: pointer;
    padding: 5px 15px;
}

.styles_checkIcon__084SU{
    height: 30px;
    width: auto;
}

.styles_navButton__fhT50{
    width: 150px;
    height: 35px;
    cursor: pointer;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/components/WordListCompleted/styles.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************/
.styles_wrapper__Qa1qF{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.styles_buttonRestart__ke6f6{
    width: 150px;
    height: 35px;
    cursor: pointer;
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/containers/WordList/styles.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.styles_wrapper__Ntjoc{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}



.styles_startButton__FKz_p{
    width: 150px;
    height: 35px;
    cursor: pointer;
}
