.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.buttonRestart{
    width: 150px;
    height: 35px;
    cursor: pointer;
}